<div class="flex flex-row justify-between">
  <div class="">
      <app-de-navbar></app-de-navbar>
  </div>
  <div class="w-10/12 h-full bg-[#93e3fc] text-center" *ngIf="estudianteResults$ !== null">
      <div class="grid grid-flow-row-dense grid-cols-4 grid-rows-1 h-[280px] items-center place-content-center">
              <div class=" w-52 h-64 p-3 bg-white border border-gray-200 rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700 justify-self-center">

                      <!-- <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                          <span class="sr-only">Open dropdown</span>
                          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                              <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                          </svg>
                      </button> -->
                      <!-- Dropdown menu -->
                      <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 ">
                          <ul class="py-2" aria-labelledby="dropdownButton">
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                          </li>
                          </ul>
                      </div>

                      <div class="flex flex-col items-center">
                          <img class="w-22 h-22  rounded-full shadow-lg" src="../../../../assets/img/medi.jpg" alt="Bonnie image"/>
                          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> a</h5>
                          <span class="text-sm text-gray-500 dark:text-gray-400">Odontologa</span>

                      </div>
              </div>
          <div class="grid grid-cols-3 col-span-3 place-content-center">
              <div class="w-52 h-32  bg-[#93e3fc] hover:bg-[#43cbe3] border border-black rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700">
                  <div class="flex  ">
                      <div class="flex justify-center  items-center mt-6 w-1/3 h-full">
                          <img class="w-16 h-16" src="../../../../assets/img/cita.png" alt="">
                      </div>
                      <div class="w-2/3 h-full">
                          <p class="font-courier text-lg font-bold p-3"> Citas </p>

                          <h1 class="font-serif text-4xl p-3">24</h1>
                      </div>

                  </div>
              </div>
              <div class="w-52 h-32  bg-[#93e3fc] hover:bg-[#43cbe3] border border-black rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700">
                  <div class="flex  ">
                      <div class="flex justify-center  items-center mt-6 w-1/3 h-full">
                          <img class="w-16 h-16" src="../../../../assets/img/atendido.png" alt="">
                      </div>
                      <div class="w-2/3 h-full">
                          <p class="font-courier text-lg font-bold p-3"> Atendidas </p>

                          <h1 class="font-serif text-4xl p-3">24</h1>
                      </div>

                  </div>
              </div>
              <div class="w-52 h-32  bg-[#93e3fc] hover:bg-[#43cbe3] border border-black rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700">
                  <div class="flex  ">
                      <div class="flex justify-center  items-center mt-6 w-1/3 h-full">
                          <img class="w-16 h-16" src="../../../../assets/img/cancelado.png" alt="">
                      </div>
                      <div class="w-2/3 h-full">
                          <p class="font-courier text-lg font-bold p-3"> Canceladas </p>

                          <h1 class="font-serif text-4xl p-3">24</h1>
                      </div>

                  </div>
              </div>

          </div>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow overflow-hidden rounded-lg border-b border-gray-200">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">ID</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Nombre</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Apellido</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Código</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Email</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Género</th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Firma Digital</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of estudianteResults$ | async">
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.id }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.nombre }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.apellido }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.codigo }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.email }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.genero }}</span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="text-gray-900">{{ estudiante.firmadigital }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



  </div>


</div>

