<div class="flex min-h-screen bg-gradient-to-r text-gray-800">
  <div class="w-1/5 bg-white text-gray-700">
    <app-da-navbar></app-da-navbar>
  </div>
  <div class="w-4/5">
    <div class="container mx-auto px-6 py-8 max-w-7xl">
      <h2 class="text-3xl font-bold mb-6 text-center">Crear Usuario</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg shadow-lg">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <div class="mb-4">
              <label class="block text-sm font-bold mb-2" for="codigo">Codigo</label>
              <input formControlName="codigo" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-cyan-500" id="codigo" type="text" placeholder="Codigo">
            </div>
            <div class="mb-4">
              <label class="block text-sm font-bold mb-2" for="password">Contraseña</label>
              <input formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-cyan-500" id="password" type="password" placeholder="Contraseña">
            </div>
            <div class="mb-4">
              <label class="block text-sm font-bold mb-2" for="email">Correo Electronico</label>
              <input formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-cyan-500" id="email" type="email" placeholder="Correo electronico">
            </div>
          </div>
          <div>
            <div class="mb-4">
              <label class="block text-sm font-bold mb-2" for="estado">Estado</label>
              <select formControlName="estado" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-cyan-500" id="estado" type="text" placeholder="Estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
            <div class="mb-4">
              <label class="block text-sm font-bold mb-2" for="rol">Rol</label>
              <select formControlName="rol" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:ring-2 focus:ring-cyan-500" id="rol" type="text" placeholder="Rol">
                <option value="estudiante">estudiante</option>
                <option value="docente">docente</option>
                <option value="admin">admin</option>
              </select>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-8">
          <button class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-6 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-cyan-700 focus:ring-opacity-50" type="submit">
            Crear Usuario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
